/* CSS Stylesheet */
#top-nav {
	width: 200px;
	height: 20px;
	padding: 5px 10px;
	margin: 10px auto;
	background-color: #ffffff;
	text-align: center;
}

#sketchpad {
	width: 960px;
	height: 600px;
	margin: 0px auto;
	background-color: #ffffff;
}

.block {
	width: 20px;
	height: 20px;
	background-color: #dddddd;
	border: solid 0.25px #999999;
	float: left;
	display: block;
}