/* CSS Stylesheet */
#top-nav {
	width: 600px;
	height: 20px;
	padding: 5px 10px;
	margin: 10px auto;
	background-color: #ffffff;
	text-align: center;
}

#sketchpad {
	width: 960px;
	height: 960px;
	margin: 0px auto;
	background-color: #ffffff;
}

.block {
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border: none;
	float: left;
	display: block;
}